.block {
	width: 100%;
	position: relative;
}
.column {
	float: left;
}
.column.roomList {
	width: calc(75% - 10px);
}
.column.sideBar {
	width: 25%;
	margin-left: 10px;
}
.booking-rate.rate {
	padding: 0;
	border: 0;
	min-height: 103px;
}
.bookBtn {
	padding: 5px 39px;
}
.roomDetails {
	margin-top: 0px;
}
@media (max-width: 991px){
	.column.roomList {
		width: 100%;
	}
}
.moreInfo {
	margin: 0;
	width: 100%;
}
@media (max-width: 768px) {
	.info-detail .pull-right{
		float: left !important;
	}
}
.modalBox {
	background: rgba(30, 30, 30, 0.34) !important;
}
.modalBox .modalBoxContentArea {
	color: #333 !important;
	width: calc(100% - 30px) !important;
	margin: 15px auto 15px;
	padding: 35px;
	background: #fff;
	max-width: 1200px;
}
.modalBox .closeModalBox{
	position: relative !important;
	float: right;
    top: -20px;
    right: -20px;
}
.modalBox #modalBoxContent {
	float: left;
    width: 100%;
    margin: 15px 0;
    margin-bottom: -14px;
    margin-top: -75px;
    position: relative;
}
.modalBox .modalTitle {
	border-bottom: 1px solid #ccc;
    /* padding-bottom: 5px; */
	padding-bottom: 12px;
    margin-top: 3px;
}
.booking-block {
	background: #fff;
	display: table;
	width: 100%;
	border: 1px solid #ccc;
	border-top: none;
}
.booking-rate.rate {
	border-top: none;
	border-right: none;
}
.booking-block > div {
	display: table-cell;
	vertical-align: top;
}
/* .booking-gallery {
	width: 150px;
} */
.booking-content {
	/* width: calc(100% - 160px); */
}
.rate-btn-group .rate-button {
	margin: 0;
	border-bottom: 0;
	border-right: 0;
}
.roomBox {
	margin: 0;
}
.container {
	background: #fff;
}
#containerBox {
	padding-top: 0 !important;
	border: 0;
}
#footerBox {
	margin: 0 -15px;
}
#header {
	background: none;
	height: initial;
}
#header .container {
	padding: 15px;
}
.recommendText h2{
	margin-top: 0;
}
@media (max-width: 767px) {
	.booking-gallery {
		padding: 0;
	}
	.booking-content {
		width: 100%;
	}
	.booking-block {
		border-left: 0;
	}
}
.booking-form {
	/* background: #cecece; */
	border-bottom: 1px;
	padding: 5px;
	border: 1px solid #ccc;
}
.summaryPanel {
	/* border-top: 2px solid #A79075; */
	background: #fff;
	padding: 15px;
}
.booking-rate .input > .roomInput {
    float: right;
    max-width: 50px;
}
img.gallery {
    width: 100%;
    max-height: 103px;
}