.block {
	width: 100%;
	position: relative;
}
.column {
	float: left;
}
.column.roomList {
	width: calc(75% - 10px);
}
.column.sideBar {
	width: 25%;
	margin-left: 10px;
}
.booking-rate.rate {
	padding: 0;
}
.bookBtn {
	padding: 5px 39px;
}
.roomDetails {
	margin-top: 0px;
}
@media (max-width: 991px){
	.column.roomList {
		width: 100%;
	}
}
.moreInfo {
	margin: 0;
	width: 100%;
}
@media (max-width: 768px) {
	.info-detail .pull-right{
		float: left !important;
	}
}
.modalBox {
	background: rgba(30, 30, 30, 0.34) !important;
}
.modalBox .modalBoxContentArea {
	color: #333 !important;
	width: calc(100% - 30px) !important;
	margin: 15px auto 15px;
	padding: 35px;
	background: #fff;
	max-width: 1200px;
}
.modalBox .closeModalBox{
	position: relative !important;
	float: right;
    top: -20px;
    right: -20px;
}
.modalBox #modalBoxContent {
	float: left;
    width: 100%;
    margin: 15px 0;
    margin-bottom: -14px;
    margin-top: -75px;
    position: relative;
}
.modalBox .modalTitle {
	border-bottom: 1px solid #ccc;
    /* padding-bottom: 5px; */
	padding-bottom: 12px;
    margin-top: 3px;
}
img.gallery {
    width: 100%;
    max-height: 103px;
}