.modalBox {
	background: rgba(30, 30, 30, 0.34) !important;
}
.modalBox .modalBoxContentArea {
	color: #333 !important;
	width: calc(100% - 30px) !important;
	margin: 15px auto 15px;
	padding: 35px;
	background: #fff;
	max-width: 1200px;
}
.modalBox .closeModalBox{
	position: relative !important;
	float: right;
    top: -20px;
    right: -20px;
}
.modalBox #modalBoxContent {
	float: left;
    width: 100%;
    margin: 15px 0;
    margin-bottom: -14px;
    margin-top: -75px;
    position: relative;
}
.modalBox .modalTitle {
	border-bottom: 1px solid #ccc;
    /* padding-bottom: 5px; */
	padding-bottom: 12px;
    margin-top: 3px;
}