html, body{
	width: 100%;
	height: 100%;
}
.form-control {
	border-radius: 0;
	padding: 0;
}
.pos-nav {
	margin-bottom: 0;
}
.container, .container-fluid {
	padding-left: 5px;
	padding-right: 5px;
}
.row {
    margin-right: -5px;
    margin-left: -5px;
}
.row div[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-inverse {
	border: none;
}
.posTopMenu {
	background: #222222;
	padding-top: 54px;
}
.posBox {
	background: #eaeaea;
	height: calc(100% - 88px);
}
#menu {
	height: 34px;
	position: relative;
}
#menu #searchBox {
	height: 100%;
	float: left;
	width: calc(100% - 305px);
    background: #90a5bf; /* #d1e2ec; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#menu #menuBox {
	height: 100%;
	float: left;
	margin-left: 5px;
	width: 300px;
}
#menuBox .menuButton{
	width: calc(50% - 3px);
	font-size: 14px;
	background: #5d5d5d;
	color: #fff;
	font-weight: bold;
	border: 0;
	height: 100%;
	border-radius: 5px 5px 0 0;
}
#menuBox .menuButton:last-child{
	margin-left: 2px;
}
#menuBox .menuButton.active {
	background: #fff;
	color: #5d5d5d;
}
#orderPanel {
	overflow: auto;
	padding: 10px;
	background: #fff;
	float: left;
	width: 400px;
	height: calc(100% - 5px);
}
#rightPanel {
	float: left;
	margin-left: 5px;
	width: calc(100% - 405px);
	height: calc(100% - 5px);
}
#menuPanel {
	overflow: auto;
	height: calc(100% - 155px);
	background: #fff;
}
#controlPanel {
	margin-top: 5px;
	height: 150px;
	background: #fff;
}
#menuPanel
@media (min-width: 780px){
	.pos-table{
		display: table;
		width: 100%;
		height: 100%;
	}
	.pos-table .pos-cell {
		display: table-cell;
	}
	.pos-table .menu {
		width: 25%;
	}
	.pos-table .content {
		width: 85%;
		background: #ccc;
	}
	.pos-table .content-middle {
		vertical-align: middle;
	}
}