body {
	background: #FBF9F9;
}
.navbar .navbar-toggle .icon-bar{
	background: #ccc;
}
.form-control, .btn, .panel, .input-group *{
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.form-db {
	max-width: 160px;
}
.form-api {
	max-width: 300px;
}
.panel-heading, .panel-footer {
	background: #FBF9F9 !important;
}
.custom-border {
	border-left: 0;
	border-right: 0;
	border-top: 0;
}
.custom-border tr > td:first-child, .custom-border tr > th:first-child {
	border-left: 0;
}
.custom-border tr > td:last-child, .custom-border tr > th:last-child {
	border-right: 0;
}
.hotelPicture {
	width: 100%;
    overflow: hidden;
}
.hotelPicture img{
	width:100%;
	transition: all .2s ease-in-out;
}

.hotelPicture img:hover{
	transform: scale(1.1);
}
.hotelName {
	font-weight: bold;
}
.hotelFacilities {
	font-size: 11px;
	text-decoration: underline;
	font-weight: bold;
}
.hotelDetails {
	font-size: 11px;
}
.starRate {
	color: #FFCC00;
}
.headerImg {
	width: 100%;
}
.navbar .headerBox{
	border-top: 1px solid #EAE9E9;
}
.totalHotels{
	font-size: 1.4em;
    color: #337ab7;
    font-weight: bold;
}

.searchBox{
	background: #fff;
	/* border-radius: 4px; */
	border: 1px solid #EAE9E9;
}
.searchBox div {
	padding: 5px;
}
.searchBox .boxHeader {
	background: #F0F0F0;
	border-bottom: 1px solid #EAE9E9;
}
.btn-search {
	margin-top: 4px;
	width: 100%;
	background: #337ab7;
	color: #fff;
}
.propertyList:not(:last-child) {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
footer {
	background: #f0f0f0;
	margin-top: 10px;
	padding: 10px 10px 0;
}
footer .container{
	font-size: 12px;
}
footer .about{
	background: #e3e3e3;
	padding: 10px;
	margin-bottom: 10px;
}
footer .last-box{
	margin-bottom: 10px;
}
.copyRight {
    text-align: center;
    padding: 5px 0;
    background: #E3E3E3;
    font-size: 0.8em;
}
.hotelDetailImage {
	width: 25%;
	float: left; 
	padding-right: 10px
}
.input-group .error-list{
	display: table-caption;
}
.bookingActive {
	background: #53ef53;
	border-radius: 5px;
	padding: 5px;
	color: #fff;
}
.bookingNoActive {
	background: #ff5454;
	border-radius: 5px;
	padding: 5px;
	color: #fff;
}
.temporarilyDisabled {
  font-size: 15px;
  color: red;
}
.hotelDetailBlock {
	position: relative;
}
.hotelDetailBlock > div {
	float: left;
	background: #fff;
}
.hotelDetailBlock .contentBox {
	width: 60%;
	padding: 10px;
}
.hotelDetailBlock .reservationBox {
	margin-left: 10px;
	width: calc( 40% - 10px);
}

.btnbookquick{
  background: #C6B159;
  color: #fff;
  font-size: 1em;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.btnbookquick:hover{
  background: #9A9373;
}

.check1{
  font-size: 1.1em;
}

.check2{
  font-size: 0.9em;
  font-weight: 300;
}
.daydate{
  font-size: 3em;
  font-weight: 600;
}

.month{
  font-size: 1em;
}

.bgdate{
  background: #585858;
}
.calendarBox{
  display: table;
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid #ccc;
}
.calendarBox .boxTitle{
  text-align: left;
  margin-bottom: -12px;
  padding: 4px 10px 0px;
}
.calendarBox .dateBox, .calendarBox .navBox{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.calendarBox .dateBox:first-child{
  border-right: 1px solid #ccc;
}
.calendarBox .dateBox{
  color: #383737;
  cursor: pointer;
  width: 50%;
}
.calendarBox .dateBox:hover{
  background: #747373;
  color: #fff;
}
.calendarBox .dateBox input{
  display: none;
  width: 0px;
  height: 0px;
  clear: both;
}
/* .calendarBox .dateBox > div{
  margin-left: -5px;
} */
.calendarBox .dateBox .month{
  text-transform: uppercase;
  top: -10px;
    position: relative;
}
@media (max-width: 410px){
  .calendarBox .dateBox{
    width: 50%;
  }
  .calendarBox .dateBox:first-child{
    border-right: 1px solid #fff
  }
  .calendarBox .dateBox:nth-child(2) {
    border-left: 1px solid #fff
  }
  .calendarBox .navBox{
    display: none;
  }
}
/* end by champ */
#codeBox{
  display: none;
}
#codeText{
}
.btnAndCode {
	margin-top: 10px;
	margin-bottom: 10px;
}
#closeCodeBtn{
  background: #18212f;
  border-color: #18212f;
  cursor: pointer;
  color: #ccc;
}
#codeText {
  text-align: center;
}
@media (max-width: 991px){
  .btnbookquick{
    padding: 1.5% 1% ;
  }
  #codeText, #codeBox{
    margin-top: 10px;
  }
  .btnAndCode{
    margin-top: 10px;
    text-align: center;
  }
  #form-ctrl{
    padding-bottom: 5px;
  }
}
.bg-white{
  background: #fff;
}
@media (min-width: 992px){
  #form-ctrl{
    margin-left: -5px;
    margin-right: -5px;
  }
}
#avaibilityStartDate{
  max-width: 100px;
  text-align: center;
}

.noOfRoomForInput {
  padding-right: 2px;
}
@media (max-width: 900px){
	.hotelDetailBlock > div {
		float: initial;
		width: 100% !important;
	}
}
.ui-datepicker {
  z-index: 2 !important;
}
.aboutLogo{
  max-height: 50px;
  padding: 5px;
}